@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

*{
   font-family: "Arimo", sans-serif;
   font-weight: 400;
}

body{
    background-color: rgb(29, 28, 28);
}
